body {
  background: #000;
  color: #fff;
}

/* Thanh điều hướng */
.thanh-dieu-huong {
  color: #fff;
}
.thanh-dieu-huong .back-link {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}
.thanh-dieu-huong p,
.thanh-dieu-huong h1 {
  margin: 30px 0 20px;
}

/* Container giỏ hàng */
.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background: #111;
}

/* Danh sách sản phẩm */
.danh-sach-san-pham {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.san-pham {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 10px;
  border-radius: 8px;
}
.san-pham img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
.thong-tin-san-pham {
  flex: 1;
  margin: 10px 0 0 20px;
}
.thong-tin-san-pham p {
  color: #09A81A;
}

/* Tổng kết đơn hàng */
.tong-ket-don-hang {
  flex: 1;
  position: sticky;
  top: 100px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  height: fit-content;
}
.tong-ket-don-hang span {
  color: #09A81A;
}
.tong-ket-don-hang p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.tong-ket-don-hang hr {
  margin: 25px 0;
}
.tong-ket-don-hang .nut-thanh-toan {
  background: #00e676;
  color: #000;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}
.tong-ket-don-hang .distance {
  margin-left: 20px;
}
.nut-tiep-tuc {
  background: #000;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.nut-tiep-tuc:hover {
  background: #00D9FF;
  color: #000;
}
.distance {
  margin-left: -20px;
  line-height: 2;
}
.distance {
  margin-left: -20px;
  line-height: 2;
}